h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2 {
  font-size: 1.2rem;
  color: #008080;
  font-weight: bold;
  border-bottom: 2px solid #008080;
  margin-bottom: 2rem;
}
p {
  margin: 1rem 0;
}
form {
  display: inline;
}
button {
  background-color: #008080;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: block;
}
input {
  border-bottom: 3px solid #008080;
  padding: 3px 9px;
  outline: none !important;
  font-style: italic;
  font-size: 1.5rem;
}
input[type=submit]{
  display: none;
}

.component {
  margin: 2rem 0;
  padding: 1.5rem 1rem;
  border: 2px solid #008080;
  border-radius: 1rem;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
.counterbox {
  border: 3px solid #008080;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}
.pokemon_result {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #008080;
  border-radius: 1rem;
  padding: 1rem;
}
.pokemon_result h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.pokemon_img {
  height: 150px;
  width: 150px;
}
.nav_link {
  background-color: #008080;
  color: #fff;
  border-radius: 6px;
  margin: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
}
.nav_link:hover {
  background-color: darkslategray;
  font-style: italic;
}