h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  margin: 1rem 0;
}
form {
  display: inline;
}
button {
  background-color: #008080;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: block;
}
input {
  border-bottom: 3px solid #008080;
  padding: 3px 9px;
  outline: none !important;
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
}
input[type=submit]{
  display: none;
}

.counterbox {
  border: 3px solid #008080;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}